.loginOption {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid #283d52;
    border-radius: 5px;
    padding: 15px;
    background-color: #192633;
    cursor: pointer;
    transition: 0.2s;
}
.loginOption:hover {
    border: 2px solid #4c6c8c;
    background-color: #2e4256;
}
.loginOptionText {
    color: white;
    font-size: var(--font-lg);
    font-family: var(--font-label);
}
