/* auth form */
.authLabelInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.authLabel {
    color: white;
    font-weight: bold;
}
.authInput {
    border: 1px solid #283d52;
    border-radius: 5px;
    padding: 10px;
    background-color: #192633;
    color: white;
}
.authInput::placeholder {
    color: #667d94;
}
.authInput:focus {
    outline: none;
    border-color: #2b8ced;
}

/* passowrd specific */
.passwordInputContainer {
    border-radius: 5px;
    background-color: #192633;
    display: flex;
    justify-content: space-between;
}
.passwordAuthInput {
    border: 1px solid #283d52;
    color: white;
    background: none;
    padding: 10px;
    width: 100%;
}
.passwordAuthInput::placeholder {
    color: #667d94;
}
.passwordAuthInput:focus {
    outline: none;
    border-color: #2b8ced;
}
.toggleHiddenBtn {
    background: none;
    border: 1px solid #283d52;
    border-left: 0;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
}
.toggleHiddenBtn:active {
    background-color: #344a61;
}
.hideIcon {
    color: #93adc9;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}
.hideIcon:hover {
    color: #b7d0eb;
}