/* ===== auth form ===== */
.authLabelInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.authLabel {
    color: white;
    font-size: var(--font-base);
    font-family: var(--font-label);
}
.authInput {
    border: 1px solid #283d52;
    border-radius: 5px;
    padding: 10px;
    background-color: #192633;
    color: white;
    font-size: var(--font-base);
    font-family: var(--font-body);
}
.authInput::placeholder {
    color: #667d94;
}
.authInput:focus {
    outline: none;
    border-color: #2b8ced;
}


/* ===== passowrd specific ===== */
.passwordInputContainer {
    border-radius: 5px;
    background-color: #192633;
    display: flex;
    justify-content: space-between;
}
.passwordAuthInput {
    border: 1px solid #283d52;
    border-radius: 5px 0 0 5px;
    color: white;
    background: none;
    padding: 10px;
    width: 100%;
    font-size: var(--font-base);
    font-family: var(--font-body);
}
.passwordAuthInput::placeholder {
    color: #667d94;
}
.passwordAuthInput:focus {
    outline: none;
    border-color: #2b8ced;
}
.toggleHiddenBtn {
    background: none;
    border: 2px solid #283d52;
    border-left: 0;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
}
.toggleHiddenBtn:active {
    background-color: #344a61;
}
.hideIcon {
    color: #93adc9;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}
.hideIcon:hover {
    color: #b7d0eb;
}


/* ===== passowrd specific ===== */
.searchInputContainer {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
    background-color: #233647;
    border: 1px solid #283d52;
    border-radius: 10px;
}
.searchIconContainer {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchIcon {
    color: #9bb6d4;
    font-size: var(--font-xl);
    font-family: var(--font-label);
}
.inputContainer {
    flex: 1;
}
.searchInput {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    border: none;
    box-sizing: border-box;
    border: 1px solid #283d52;
    border-radius: 0 5px 5px 0;
    background-color: #233647;
    color: white;
    font-size: var(--font-lg);
    font-family: var(--font-label);
}
.searchInput::placeholder {
    color: #9bb6d4;
    font-size: var(--font-lg);
    font-family: var(--font-label);
}
.searchInput:focus {
    outline: none;
    border-color: #2b8ced;
}