.container {
    width: 100%;
    padding: 3%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.websiteIcon {
    color: #2b8ced;
    font-size: 2em;
}
.websiteTitle {
    color: white;
    font-size: 2em;
}