.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #101821;
    border-bottom: 2px solid #203242;
}

/* home/title */
.homeContainer {
    display: flex;
    gap: 20px;
}
.logoContainer {
    padding: 10px;
    background-color: #2667eb;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.websiteIcon {
    color: white;
    font-size: var(--font-3xl);
    font-family: var(--font-heading);
}
.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title {
    font-size: var(--font-xxl);
    font-family: var(--font-heading);
    font-weight: bold;
}
.version {
    font-size: var(--font-base);
    font-family: var(--font-label);
    color: #849fb8;
}
.versionLetter {
    font-size: var(--font-xs);
}


/* search */



/* user */
.userContainer {
    background-color: #1b2733;
    border: 1px solid #1e2d3b;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.avatarImg {
    width: 30px;
}
.username {
    font-size: var(--font-xl);
    font-family: var(--font-label);
    color: white;
}
.dropdownAndBtnContainer {
    position: relative;
}
.dropdownBtn {
    background-color: #314a60;
    border: 1px solid #1e2d3b;
    border-radius: 10px;
    transition: 0.2s ease;
}
.dropdownBtn:hover {
    background-color: #456989;
    cursor: pointer;
}
.downArrow {
    width: 1rem;
    height: 1rem;
    color: white;
}
/* dropdown */
.dropdownContainer {
    position: absolute;
    right: 0;
    width: 400%;
    background-color: #314a60;
    border: 2px solid #640707;
    border-radius: 10px;
    z-index: 10;
}
.signOutBtn {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-base);
    font-family: var(--font-label);
    color: rgb(237, 118, 118);
    padding: 10px;
    transition: 0.2s ease;
}
.signOutBtn:hover {
    background-color: #456989;
    cursor: pointer;
}
